
*{
    box-sizing:border-box;
}

body{
    font:12px "Microsoft YaHei",Aria,Helvetica,sans-serif;
    color:#666;
}

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{
    margin:0;
    padding:0;
    list-style:none;
}

.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}

a{
    text-decoration:none;
    color:#666;
}

a:hover{
    color:#FF0700;
    text-decoration:underline;
}

#top,#top_main,#nav,#banner,#main,#footer-box,#footer{
    width:1211px;
    margin:0 auto;
}
/********模块1 页面顶部*******/
#top{
    /*高度，行高，背景颜色，下边框*/
    height:30px;
    line-height:30px;
    background-color:#f7f7f7;
    border-bottom:1px solid #eee;
}

#top>img{
    float:left;
    margin:9px 5px 0 0;
}

#top>ul>li{
    float:left;
}

#top>ul>li>b{
    border-left:1px solid #ddd;
    margin:0 5px;
}

#top li.vip a{
    /*左内边距，背景*/
    padding-left:29px;
    background:url(../images/vip.jpg) no-repeat 0 center;
}

#top li.dakehu a {
    /*左内边距，背景*/
    padding-left: 29px;
    background: url(../images/dakehu.jpg) no-repeat 0 center;
}

#top li.app_jd a {
    /*行内块，高度，行高，左内边距，背景*/
    display:inline-block;
    height:22px;
    line-height:22px;
    padding-left: 18px;
    background: url(../images/iconlist_2.png) no-repeat -128px -360px;
}

#top li.app_jd a:hover{
    /*左内边距，背景*/
    display:inline-block;
    height:22px;
    line-height:22px;
    padding-left: 18px;
    background: url(../images/iconlist_2.png) no-repeat -128px -399px;
}

#top li.service>a{
    /*左右内边距，行内块，高度，行高 边框*/
    padding:0 15px;
    display:inline-block;
    height:27px;
    line-height:27px;
    border:1px solid transparent;
    border-bottom:none;
    background: url(../images/jt_down.jpg) no-repeat 95% center;
}


#top li.service{
    position:relative;
}

#service-items{
    border:1px solid #ddd;
    border-top:none;
    background-color:#fff;
    width:80px;
    text-align:center;
    /*定位*/
    position:absolute;
    left:11px;
    top:27px;
    display:none;
}

#top li.service:hover #service-items{
    display:block;
}

#top li.service:hover>a{
    border-color:#ddd;
    background-color:#fff;
    background: url(../images/jt_up.jpg) no-repeat 95% center;
}



/********模块2 LOGO和搜索框*******/
#top_main{
    height:63px;
    padding:10px 0;
}
#search-box{
    /*宽度，min-height,左右外边距，左浮动*/
    min-height:30px;
    width:500px;
    margin:0 80px 0 40px;
    float:left;
}

#search-box div.search{
    height:36px;
    background-color:#e4393c;
    /*边框和内边距*/
    padding:3px;
}

#search-box div.search>input{
    /*宽度，高度，去掉边框，左右内边距*/
    width:410px;
    height:30px;
    border:none;
    padding:0 5px;
}

#search-box div.search>button{
    width:80px;
    height:28px;
    background-color:#e4393c;
    border:none;
    color:#fff;
    font-size:14px;
    font-weight:bold;
}

#search-box div.hot-words{
    margin:5px;
    height:16px;
    overflow:hidden;
    color:#999;
}

#search-box div.hot-words a{
    color:#999;
}

#my-jd{
    /*左浮动，边框，背景颜色，高度，左内边距，右内边距*/
    width:96px;
    float:left;
    border:1px solid #efefef;
    height:32px;
    padding-left:27px;
    padding-right:5px;
    line-height:30px;
    background:#f7f7f7 url(../images/iconlist_2.png) no-repeat -116px -25px;
}

#my-jd b{
    /*边框透明，上边框#ddd*/
    border:5px solid transparent;
    border-top-color:#ddd;
    position:relative;
    top:10px;
}

#shopping-cart{
    width:120px;
    margin-left:10px;
    float:left;
    border:1px solid #efefef;
    height:32px;
    padding-left:27px;
    padding-right:5px;
    line-height:30px;
    background:#f7f7f7 url(../images/iconlist_2.png) no-repeat -116px -83px;
}

#shopping-cart b{
    border:5px solid transparent;
    border-top-color:#ddd;
    position:relative;
    top:10px;
}

/*************模块3 主导航****************/
#nav{
    height:40px;
    background-color:#e64346;
    margin-top:10px;
}



#nav>p{
    /*宽度，高度，行高，背景，左浮动*/
    width:210px;
    height:40px;
    line-height:40px;
    background-color:#e64346;
    float:left;
    background:#bd2a2c url(../images/jtr.jpg) no-repeat  180px 15px;
}

#nav>p a{
    /*文字大小，颜色，加粗，取消下划线，左内边距*/
    font-size:14px;
    color:#fff;
    font-weight:bold;
    text-decoration:none;
    padding-left:15px;
}

#nav>ul li{
    float:left;

}

#nav>ul li a{
    /*行内块，宽度，高度，行高，颜色，大小，取消下划线，鼠标移入换色*/
    display:inline-block;
    width:100px;
    height:40px;
    line-height:40px;
    font-size:14px;
    color:#fff;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
}

#nav>ul li a:hover{
    background-color:#bd2a2c;
}

/**********模块4 banner广告***********/

#banner{
    height:410px;
}

#cate-box{
    ／*左浮动，宽度，高度，边框，背景颜色*／
    float: left;
    width:210px;
    height:410px;
    border:2px solid #cd2a2c;
    border-top:none;
    background-color:#f7f7f7;
    padding-top:5px;
}

#cate-box>li>a{
    /*宽度，块级，上下左内边距，上下边框，文本大小，颜色取消下划线*/
    display:block;
    width:196px;
    padding:5px 0 5px 10px;
    border-top:1px solid transparent;
    border-bottom:1px solid #fff;
    color:#333;
    font-size:14px;
    text-decoration:none;
}

#cate-box>li a:hover{
    background-color:#fff;
    border-color:#ddd;
    /*调整堆叠顺序*/
    position:relative;
    z-index: 30;
}


/****banner 中间区弹出框****/
#cate-box{
    position:relative;/*配合sub-cate-box定位*/
}
#sub-cate-box{
    /*宽度，高度，边框，背景，内边距，定位，位置*/
    width:720px;
    min-height:300px;
    border:1px solid #ddd;
    background-color:#fff;
    padding:5px;
    position:absolute;
    top:0px;
    left:195px;
    z-index:10;
    display:none;
}

#sub-cate-box div.close{
    /*宽度，高度，背景，倒角，文本大小，加粗，水平居中对齐，行高*/
    width:20px;
    height:20px;
    background-color:#555;
    border-radius:50%;
    font-size:14px;
    color:#fff;
    font-weight:bold;
    line-height:20px;
    text-align:center;
    cursor:pointer;
    position:absolute;
    right:-17px;
    top:-4px;
}


#sub-cate-box div.sub-cate-items{
    float:left;
    width:500px;
    min-height:100px;
}

#cate-box div.sub-cate-items li{
    float:left;
    border-left:1px solid #ddd;
    padding:3px 5px;
}

#cate-box div.sub-cate-items ul{
    /*撑起当前高度*/
    overflow:hidden;
    /*上边框，上下内边距*/
    border-top:1px solid #ddd;
    padding:5px 0;
}

#cate-box div.sub-cate-items li.title{
    border-left:none;
    text-align:right;
    font-weight:bold;
    width:70px;

    text-decoration:underline;
}

#cate-box div.sub-cate-items li.title a{
    color:#e4393c;
}


#cate-box div.sub-cate-banner{
    width:194px;
    float:right;
    min-height:100px;
    margin-right:10px;

}

#cate-box div.sub-cate-banner p{
    margin-top:10px;
}

#cate-box div.sub-cate-banner h4{
    margin:10px 0;
    color:#e4393c;
}

#cate-box div.sub-cate-banner li{
    margin:5px 0;
}